<input
  (click)="onClear()"
  style="display: block" type="button" value="Clear db">
<h1 id="tableLabel">Questionnaire</h1>

<p>This component demonstrates fetching data from the server.</p>

<div *ngIf="data$ | async as data">
  <ng-container *ngFor="let question of data">
    <h4>Q #{{question.questionId}}:</h4>

    <h4>{{question.questionText}}?</h4>
    <ng-container *ngIf="question.answerValue">
      <h4>Your Answer is: {{question.answerValue}}</h4>
    </ng-container>

    <ng-container *ngIf="question.answerValue == null">

      <ng-container *ngIf="question.answerType === 0">
        <form (submit)="onAnswer(question, stringField.value)">
          <input #stringField placeholder="player name">
          <input
            type="submit"
            [disabled]="question.answerValue != null"
            style="display: block" value="Answer">
        </form>
      </ng-container>

      <ng-container *ngIf="question.answerType === 1">
        <form (submit)="onAnswer(question, numericField.value)">
          <input type="number" #numericField placeholder="player name">
          <input
            type="submit"
            [disabled]="question.answerValue != null"
            style="display: block" value="Answer">
        </form>
      </ng-container>

      <ng-container *ngIf="question.answerType === 2">
        <form (submit)="onAnswer(question, optionField.value)">
          <select #optionField name="multiple" id="select">
            <option *ngFor="let option of selectOptions" value="{{option}}">{{option}}</option>
          </select>
          <input
            type="submit"
            [disabled]="question.answerValue != null"
            style="display: block" value="Answer">
        </form>
      </ng-container>

    </ng-container>
    <br>
    <br>
    <br>
  </ng-container>
</div>
